body {
  background: #090117;
  margin: 0px;
  padding: 0px;
}
p, h1, h2, h3, h4, h5, h6{
  color: #e3dcdc;
  font-family: 'Roboto', sans-serif; 
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutimg{
  height: auto;
  width: 100%;
}
.about-text{
  text-align: justify;
  font-size: 14px;
  line-height: 1.4;
  margin: 15px;
}
.explore {
  text-align: justify;
  font-size: 18px;
  line-height: 1.4;
  margin: 15px;
}
.helping {
  text-align: justify;
  font-size: 16px;
  line-height: 1.4;
  margin: 15px;
  font-weight: 500;
}
.footer{
  margin-top: 30px;
  font-size: 12px;
  background-color: #090b1c;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  align-items: center;
}