body{
  background-color: #120f1f;
  margin: 0;
}
h3, p, h1, h2, h3, h4, h5, h6, label, span{
  color: white;
  font-family: roboto;
}
a:link {
  text-decoration: none;
}
button{
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.img{
  height: 20px;
  width: 20px;
  margin-bottom: 70px;
}
:is(.sidebar, .burger){
  position: fixed;
  top: 0;
  Z-index: 2;
}
.sidebar{
  z-index: 1;
  left: 0;
  width: 60px;
  height: 100%;
  background: #090117;
  transition: 0.4s;
}
.sidebar-header {
  height: 72px;
  background: rgba(0,0,0,0.1 );
}
.sidebar > nav { display: grid};
.sidebar > nav:not(:last-child){
  padding-bottom: 1rem;
  border-bottom: 1px solid red;
  margin-bottom: 1rem;
}
.sidebar > nav > button {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  padding: 0;
}
.sidebar > nav > button > Span {
  position: absolute;
  top: 50%;
  left: 120%;
  translate: 0 -50%;
  padding: 10px;
  border-radius: 4px;
  color: gold;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.burger{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 15px;
}
 
.icon-title {
  font-size: 10px;
  padding: 0;
  margin-top: -110px;
  font-weight: 600;
}
.icon-title1{
  font-size: 10px;
  padding: 0;
  margin-top: -110px;
  font-weight: 600;
  color: blue;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: auto;
  background-color: gold;
  padding-left: 70px;
}
.welcome {
  color: black;
  font-size: 14px;
}
.widget1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  width: auto;
  height: auto;
  background-color: #090117;
}
.earnings h4{
  margin-left: px;
  margin-top: -10px;
  color: grey;
  font-size: 10px;
  
}
.earnings h2{
  margin-top: 10px;
  font-size: 16px;
}
.earnings1 h4{
  margin-right: 0px;
  margin-top: -10px;
  color: grey;
  font-size: 10px;
  
}
.earnings1 {
  padding-right: 16px;
}
.earnings1 h2{
  margin-top: 10px;
  font-size: 16px;
  
}
.live{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.signal{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  margin-top: -2px;
  background-color: green;
  animation:dots 0.1s ease-in-out infinite;
}
@keyframes dots{
  0%, 40%, 100% { transform: scale(0.5);
}
20%{transform:scale(0.9)}
}
.top-stocks{
  padding-left: 70px;
}
.top-stocks h2{
  margin-top: 10px;
  font-size: 14px;
}
.stock{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: auto;
  background-color:re ;
  margin-top: -20px;
  margin-left: -30px;
}
.market {
  display: flex;
  justify-content: space-around;
  align-items: center ;
  max-width: 390px;
}
.signal-tesla {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  margin-top: px;
  background-color: blue;
  animation:dots 1.5s ease-in-out infinite;
}
.stock h5{
  margin-right: 8px;
  font-size: 10px;
}
.stock p{
  color: blue;
  font-size: 9px;
}
.stock .try{
  color: red;
}
.stock h6 {
  margin-top: 50px;
  margin-left: -35px;
  color: blue;
  font-size: 9px;
}
.stock img{
  margin-top: 30px;
  margin-left: 0px;
}
.signal-amazon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  margin-top: px;
  background-color: red;
  animation:dots 0.5s ease-in-out infinite; 
}
.signal-apple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  margin-top: px;
  background-color: blue;
  animation:dots 0.8s ease-in-out infinite; 
}
.company {
  padding-left: 70px;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company h2{
  font-size: 14px;
}
.company h5{
  padding-right: 20px;
  font-size: 10px;
}
.companies {
  padding-left: 70px;
  margin-top: -30px;
  
}
.g{
  padding-left: 70px;
  height: 250px;
  width: 250px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-top: -10px;
}
.content img{
  width: 15px;
  height: 17px;
}
.content h4{
  margin-left: -10px;
  font-size: 12px;
}
.first h5{
  margin-top: 27px;
  font-size: 12px;
}
.second h5{
  margin-top: 20px;
  font-size: 12px;
}
.first p{
  text-align: center;
  font-size: 10px;
  margin-top: -15px;
  color: grey;
}
.second img{
  margin-top: -17px;
  margin-left: 10px;
}
.line{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5px;
  width: 90%;
  background-color: grey;
  opacity: 0.3;
  margin-top: -5px;
  border-width: 0;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  background-color: red;
  
}
.two-box{
  padding-left: 70px;
  margin-top: 30px;
}
.box{
  width: 310px;
  height: 280px;
  border-radius: 15px;
  background-color: #090117;
  border: 0.5px solid #1d2f5c;
}
.title-overview{
  margin-top: 0px;
  margin-bottom: -10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.box .title-overview ion-icon{
  margin-left: 10px;
  margin-top: -4px;
}
.box .title-overview h2{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 16px ;
}
.bit{
  font-size: 14px ;
}
.logo-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-title img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.amount{
  margin-right: 25px;
  font-size: 14px;
}
.indicator{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.progress {
  width: 228px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
}
.progress__fill{
  width: 50%;
  height: 5px;
  background: gold;
  border-radius: 10px;
}
.percentage{
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  margin-top: -4px;
}
.indicator-investment{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.progress-investment {
  width: 250px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
}
.progress__fill-investment{
  width: 75%;
  height: 5px;
  background: grey;
  border-radius: 10px;
}
.community{
  padding-left: 70px;
  margin-top: 30px;
}
.combox{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 280px;
  width: 310px;
  margin-bottom: 50px;
  border: 1px solid #1d2f5c;
  border-radius: 10px;
  background-color: #090117;
  flex-wrap: wrap;
}
.combox img{
  margin-top: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-right: 5px;
  margin-left: 5px;
}
.combox p{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  color: grey;
  text-align-last: center;
  font-size: 12px;
}
.combox h2{
  margin-top: 10px;
  font-size: 18px;
}
.combox button {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 18px;
}





















.footer{
  background-color: #090b1c;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  align-items: center;
  font-size: 12px;
}